<h1>Events</h1>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter events">
</mat-form-field>

<div class="mat-elevation-z8">
  <mat-accordion class="example-headers-align" *ngIf="events">


    <mat-expansion-panel hideToggle *ngFor="let event of events.data">
      <mat-expansion-panel-header>
        <mat-panel-title id="eventDate">
          {{event.date}}
        </mat-panel-title>
        <mat-panel-title id="eventStart">
          {{event.startTime}} - {{event.endTime}}
        </mat-panel-title>
        <mat-panel-description id="eventTitle">
          {{event.title}}
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>{{event.description}}</p>

      <mat-action-row>
        <button mat-button color="primary">Subscripe</button>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="warn">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>