<h1>Guidelines</h1>
<p>Here are the company guidelines for communication and for tagging posts in Slack and Confluence.</p>        
    
<h3>Language</h3>
<p>Due to this company being global we would recommend people to communicate in English.</p>
<p>In the channels you are free to use the language you prefer, but consider writing a summary of the theme in English.</p>
    
<h3>Tags:</h3>    
<p>- Marketing</p>
<p>- Developers</p>
<p>- Global</p>    
<p>- Healthcare</p>
<p>- Event</p>
<p>- Freetime</p>
<p>- Guild</p>

<h3>Other:</h3>
